{% extends "base.html" %}
{% block content %}

<div class="row">
  <div class="col s10 offset-s1 about about_text_color">

    <h5 style="margin-top:3rem;"><b>このサイトについて</b></h5>
    <p>
      このサイトでは動物の写真をアップロードすると、その名前・特徴と似ているポケモンを知ることができます。<br>
      現在は、上野動物園にいる人気の動物10種類が認識可能です。
    </p>


    <h5 style="margin-top:5rem;"><b>遊び方</b></h5>
    <h6>アニマルをゲットする</h6>
    <p>
      <a href="/get"><b>Get</b></a>で動物の写真をアップロードすると、アニマルをゲットできます。<br>
      <div class="supplement_text">（写りが悪いと逃げられてしまうことがあります。）</div>
    </p>
    <p>ゲットしたアニマルは図鑑に登録できます。目指せアニマルマスター！</p>

    <h6 style="margin-top:2.5rem;">アニマル図鑑をみる</h6>
    <p>
      <a href="/my_animal_index"><b>Myアニマル図鑑</b></a>でこれまでに図鑑に登録したアニマルを見ることができます。<br>
      <div class="supplement_text">
        （同じ種類のアニマルを複数登録すると、後で登録したほうが表示されます。）<br>
        （他の人が登録したアニマルも見ることができます。）
      </div>
    </p>

    <h6 style="margin-top:2.5rem;">アニマルの写真をみる</h6>
    <p>
      <a href="/photo_library"><b>フォトライブラリ</b></a>で色々な人がアップロードした好きなアニマルの写真を一覧で見ることができます。
    </p>


    <h5 style="margin-top:5rem;"><b>認識できる動物</b></h5>
    <p>現在認識できる動物は以下の10種類です。</p>
    <p>No.001 <a href="https://www.tokyo-zoo.net/encyclopedia/species_detail?species_code=504" target="_blank" rel="noopener noreferrer">パンダ
      <i class="fas fa-external-link-alt icon_margin_left"></i></a><br></p>
    <p>No.002 <a href="https://www.tokyo-zoo.net/encyclopedia/species_detail?species_code=27" target="_blank" rel="noopener noreferrer">カワウソ
      <i class="fas fa-external-link-alt icon_margin_left"></i></a><br></p>
    <p>No.003 <a href="https://www.tokyo-zoo.net/encyclopedia/species_detail?species_code=336" target="_blank" rel="noopener noreferrer">ニホンリス
      <i class="fas fa-external-link-alt icon_margin_left"></i></a><br></p>
    <p>No.004 <a href="https://www.tokyo-zoo.net/encyclopedia/species_detail?species_code=28" target="_blank" rel="noopener noreferrer">カバ
      <i class="fas fa-external-link-alt icon_margin_left"></i></a><br></p>
    <p>No.005 <a href="https://www.tokyo-zoo.net/encyclopedia/species_detail?species_code=7" target="_blank" rel="noopener noreferrer">キリン
      <i class="fas fa-external-link-alt icon_margin_left"></i></a><br></p>
    <p>No.006 <a href="https://www.tokyo-zoo.net/encyclopedia/species_detail?species_code=348" target="_blank" rel="noopener noreferrer">カンガルー
      <i class="fas fa-external-link-alt icon_margin_left"></i></a><br></p>
    <p>No.007 <a href="https://www.tokyo-zoo.net/encyclopedia/species_detail?species_code=53" target="_blank" rel="noopener noreferrer">スマトラトラ
      <i class="fas fa-external-link-alt icon_margin_left"></i></a><br></p>
    <p>No.008 <a href="https://www.tokyo-zoo.net/encyclopedia/species_detail?species_code=2" target="_blank" rel="noopener noreferrer">アジアゾウ
      <i class="fas fa-external-link-alt icon_margin_left"></i></a><br></p>
    <p>No.009 <a href="https://www.tokyo-zoo.net/movie/mov_book/0503_04/index.html" target="_blank" rel="noopener noreferrer">ケープペンギン
      <i class="fas fa-external-link-alt icon_margin_left"></i></a><br></p>
    <p>No.010 <a href="https://www.tokyo-zoo.net/encyclopedia/species_detail?species_code=547" target="_blank" rel="noopener noreferrer">レッサーパンダ
      <i class="fas fa-external-link-alt icon_margin_left"></i></a><br></p>

    <div class="supplement_text" style="margin-top:1rem;">
        （リンク先は東京ズーネットのサイトです。動物の特徴・生態などがわかります。）
    </div>


    <h5 style="margin-top:5rem;"><b>うまく認識させるには</b></h5>
    <p>アニマルの認識はAIが自動で行いますが、残念ながら認識精度は100%ではありません。</p>
    <p>
      以下を満たすとうまく認識されやすいです。<br>
      ・正面または側面から撮る<br>
      ・大きく写るように撮る<br>
      ・鮮明に撮る
    </p>


    <h5 style="margin-top:5rem;"><b>ご注意事項</b></h5>
    <p style="margin-bottom:3rem;">
      このサービスは、クラウドサービスの料金改定や運営者の都合により停止となる可能性があります。<br>
      また、クラウドサービスの制約等によりアップロードした写真が一定期間で消される場合がありますので、写真は必ずお手元にも保管頂くようお願いします。
    </p>

  </div>
</div>
{% endblock %}
