{% extends "base.html" %}
{% block content %}

<div class="row">
  <div class="col s10 offset-s1 about about_text_color">

    <h5 style="margin-top:3rem;"><b>このサイトについて</b></h5>
    <div class="divider cyan accent-4" style="margin-bottom: 0.5rem;"></div>
    <p>
      このサイトでは動物の写真をアップロードすると、その名前と特徴・似ているポケモンを知ることができます。<br>
      現在は、上野動物園にいる人気の動物10種類が認識可能です。
    </p>


    <h5 style="margin-top:5rem;"><b>遊び方</b></h5>
    <div class="divider cyan accent-4" style="margin-bottom: 1rem;"></div>

    <h6>アニマルをゲットする</h6>
    <p>
      <a href="/"><b>Get</b></a>で
      動物の写真をアップロードすると、アニマルをゲットできます。<br>
      （写りが悪いと逃げられてしまうことがあります。）
    </p>

    <h6 style="margin-top:2.5rem;">アニマル図鑑をみる</h6>
    <p>
      <a href="/my_animal_index"><b>Myアニマル図鑑</b></a>で
      これまでに図鑑に登録したアニマルを見ることができます。<br>
      （同じ種類のアニマルを複数登録すると、後で登録したほうが表示されます。）
    </p>
    <p>目指せアニマルマスター！</p>

    <h6 style="margin-top:2.5rem;">他の人の写真をみる</h6>
    <p>
      <a href="/public_photos"><b>フォトライブラリ</b></a>で他の人がゲットしたアニマルを見ることができます。<br>
      また<a href="/my_animal_index"><b>Myアニマル図鑑</b></a>で他の人のアニマル図鑑も見ることができます。
    </p>


    <h5 style="margin-top:5rem;"><b>認識できる動物</b></h5>
    <div class="divider cyan accent-4" style="margin-bottom: 0.5rem;"></div>
    <p>現在認識できる動物は以下の10種類です。</p>
    <p>No.001 <a href="https://ueno-zoo.mamakoe.jp/animal/macaca-fuscata/" target="_blank" rel="noopener noreferrer">ニホンザル
      <i class="fas fa-external-link-alt icon_margin_left"></i></a><br></p>
    <p>No.002 <a href="https://ueno-zoo.mamakoe.jp/animal/ailuropoda-melanoleuca/" target="_blank" rel="noopener noreferrer">パンダ
      <i class="fas fa-external-link-alt icon_margin_left"></i></a><br></p>
    <p>No.003 <a href="https://ueno-zoo.mamakoe.jp/animal/lutra-lutra/" target="_blank" rel="noopener noreferrer">カワウソ
      <i class="fas fa-external-link-alt icon_margin_left"></i></a><br></p>
    <p>No.004 <a href="https://ueno-zoo.mamakoe.jp/animal/gorilla-gorilla/" target="_blank" rel="noopener noreferrer">ゴリラ
      <i class="fas fa-external-link-alt icon_margin_left"></i></a><br></p>
    <p>No.005 <a href="https://ueno-zoo.mamakoe.jp/animal/giraffa-camelopardalis/" target="_blank" rel="noopener noreferrer">キリン
      <i class="fas fa-external-link-alt icon_margin_left"></i></a><br></p>
    <p>No.006 <a href="https://ueno-zoo.mamakoe.jp/animal/macropus-giganteus/" target="_blank" rel="noopener noreferrer">カンガルー
      <i class="fas fa-external-link-alt icon_margin_left"></i></a><br></p>
    <p>No.007 <a href="https://ueno-zoo.mamakoe.jp/animal/sumatran-tiger/" target="_blank" rel="noopener noreferrer">スマトラトラ
      <i class="fas fa-external-link-alt icon_margin_left"></i></a><br></p>
    <p>No.008 <a href="https://ueno-zoo.mamakoe.jp/animal/elephas-maximus/" target="_blank" rel="noopener noreferrer">アジアゾウ
      <i class="fas fa-external-link-alt icon_margin_left"></i></a><br></p>
    <p>No.009 <a href="https://ueno-zoo.mamakoe.jp/animal/pheniscus-demersus/" target="_blank" rel="noopener noreferrer">ケープペンギン
      <i class="fas fa-external-link-alt icon_margin_left"></i></a><br></p>
    <p>No.010 <a href="https://ueno-zoo.mamakoe.jp/animal/ailurus-fulgens/" target="_blank" rel="noopener noreferrer">レッサーパンダ
      <i class="fas fa-external-link-alt icon_margin_left"></i></a><br></p>

    <p style="margin-top:1rem;">（リンク先は上野動物園のサイトです。動物の生態・園内の居場所などがわかります。）</p>


    <h5 style="margin-top:5rem;"><b>うまく認識させるには</b></h5>
    <div class="divider cyan accent-4" style="margin-bottom: 0.5rem;"></div>
    <p>画像の認識・分類はAIが自動で行いますが、残念ながら認識精度は100%ではありません。</p>
    <p>
      以下を満たすとうまく認識されやすいです。<br>
      ・正面または側面から撮る<br>
      ・余計なものが写り込まないようにする<br>
      ・鮮明に撮る
    </p>


    <h6 class="supplement_text" style="margin-top:8rem;"><b>その他</b></h6>
    <div class="divider grey lighten-2" style="margin-bottom: 0.5rem;"></div>
    <p class="supplement_text">
      こちらは現時点(2019/0X/XX)でプロトタイプ版(version0.2)です。<br>
      サービスは事前の通知なく停止する可能性があります。また登録された画像・情報も事前の通知なく削除される可能性があります。<br>
      趣味・勉強の範囲で運用しておりますため、ご了承のほどよろしくお願いいたします。
    </p>

  </div>
</div>
{% endblock %}
