{% extends "base.html" %}
{% block content %}
<!-- ファイル選択エリア -->
<div class="row">
  <div class="col s10 offset-s1">
    <form id="upload_img" action="/get" method="post" enctype="multipart/form-data">
      <div class="file-field input-field row">
        <div class="btn cyan accent-4">
          <span>File</span>
          <input type="file" name="file" id="get_animal_file">
        </div>
        <div class="file-path-wrapper col s6 m8">
          <input id="get_animal_textbox" class="file-path validate" type="text" required style="font-size: 1rem;" placeholder="動物の写真を選択　または　ドラッグ＆ドロップしてください">
        </div>
        <div class="col s2">
          <button id="get_animal_button" class="btn-large waves-effect waves-light cyan accent-4" form="upload_img" type="submit" value="file">Get
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- ローディングアイコン エリア-->
<div class="center" style="position:relative;">
  <div id="get_preloader" style="display: none;">
    <!-- ローディングアイコン START-->
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-green-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
    <!-- ローディングアイコン END -->
  </div>
</div>


<!-- アニマル図鑑エリア -->
<div class="row">
  <!-- アニマル図鑑の画像部分 -->
  <div class="col s10 offset-s1 m5 offset-m1">
    <!-- <img id="upload_img" class="responsive-img" src="{{file_path}}" style="width: 250%; height: auto; max-height: 60vmin; object-fit: cover;" alt="アップロード画像"> -->
    <img id="upload_img" class="responsive-img" src="{{file_path}}" style="width: 250%; height: auto; max-height: 60vmin; object-fit: contain;" alt="アップロード画像">
  </div>


  <!-- アニマル図鑑の説明部分を表示 -->
  <div class="col s10 m5 offset-s1 ">
    <h4 style="margin-top: 0px;"><b>No.{{content['animal_no']}} {{content['animal_name']}}</b></h4>
    <h5><i class="far fa-lightbulb icon_margin grey-text text-darken-1"></i><b>確信度　</b>{{'{:.2%}'.format(confidence)}}</h5>
  </div>
</div>

<!-- 逃げられた後の説明エリア -->
<div class="row">
  <div class="col s10 offset-s1">

    <div class="divider blue-grey lighten-2" style="margin-top:10px;margin-bottom:10px;"></div>

    <div class="col s12 ">
      <h5>
        アニマルをゲットするには
        <a href="javascript:void(0)"><i class="far fa-question-circle fa-lg cyan-text text-accent-4" onclick="howToGetClick()"></i></a>
      </h5>
    </div>

  </div>
</div>

{% endblock %}
