{% extends "base.html" %}
{% block content %}

<!-- Select, 捕まえた数 & medalエリア -->
<div class="row"  style="margin-top:25px; margin-left:5%; margin-right:5%;">
  <!-- Selectエリア -->
  <div class="input-field col s10 m4 l4">
    <!-- onchangeイベントで、指定されたURLへジャンプ -->
    <select onchange="location.href = this[this.selectedIndex].value;">
      <option value="" disabled selected>ニックネームを選択</option>
      {% for user_name in user_names %}
        <option value="my_animal_index/{{user_name}}">{{user_name}}</option>
      {% endfor %}
    </select>
    <label>アニマル図鑑を見る</label>
  </div>
</div>
<!-- </div> -->
{% endblock %}
