{% extends "base.html" %}
{% block content %}

<!-- Selectエリア -->
<div class="row"  style="margin-top:25px; margin-left:5%; margin-right:5%;">
  <div class="row div_label_on_select">
    <label class="col s10 m6 l4">アニマルを見る</label>
  </div>
  <!-- Selectエリア -->
  <div class="input-field col s10 m6 l4 div_select_under_label">
    <!-- onchangeイベントで、指定されたURLへジャンプ -->
    <select onchange="location.href = this[this.selectedIndex].value;" class="browser-default select_under_label">
      <option value="" disabled selected>アニマルを選択</option>
      {% for dict_animal in dict_animals %}
        <option value="photo_library/{{dict_animal['animal_no']}}">No.{{dict_animal['animal_no']}} {{dict_animal['animal_name']}}</option>
      {% endfor %}
    </select>
  </div>
</div>

{% endblock %}
