{% extends "base.html" %}
{% block content %}

<!-- Selectエリア -->
<div class="row"  style="margin-top:25px; margin-left:5%; margin-right:5%;">
  <!-- Selectエリア -->
  <div class="input-field col s10 m4 l4">
    <!-- onchangeイベントで、指定されたURLへジャンプ。script.jsで、前回選択されたvalueを初期選択する -->
    <select id="animal_no_selecter" onchange="location.href = this[this.selectedIndex].value;">
      <option value="" disabled>アニマルを選択</option>
      {% for dict_animal in dict_animals %}
        <option value="{{dict_animal['animal_no']}}">No.{{dict_animal['animal_no']}} {{dict_animal['animal_name']}}</option>
      {% endfor %}
    </select>
    <label>アニマルを見る</label>
    <input type="hidden" id="selected_animal_no" value="{{selected_animal_no}}" >
  </div>
</div>

<!-- materialize css を利用したgrid & cardレイアウト -->
<div class="row" style="margin-left:5%; margin-right:5%;">
  {% for registered_animal in registered_animals %}
  <div class="col s12 m6 l4">
    <div class="card">
      <!-- カード画像 -->
      <div class="card-image waves-effect waves-light">
        <!-- Modal Trigger -->
        <a class="modal-trigger" href="#modal{{registered_animal['id']}}">
          <!-- <img src="{{registered_animal['filepath']}}" style="width: 100%; height: 250px; max-height: 60vw; object-fit: contain;"> -->
          <img src="{{registered_animal['filepath']}}" style="width: 100%; height: 250px; max-height: 60vw; object-fit: cover;">
        </a>
      </div>

      <!-- カードテキスト -->
      <div class="card-content grey-text ">
        <p class="card-content-left">{{registered_animal['timestamp']}} </p>
        <p class="card-content-right">by <a href="/my_animal_index/{{registered_animal['register_user_id']}}"><b>{{registered_animal['register_user_id']}}</b></a></p>
      </div>

    </div>
  </div>

  <!-- Modal Structure -->
  <div id="modal{{registered_animal['id']}}" class="modal">
    <div class="modal-content">
      <img src="{{registered_animal['filepath']}}">
    </div>
  </div>

  {% endfor %}
</div>

{% endblock %}
