{% extends "base.html" %}
{% block content %}

<!-- Selectエリア -->
<div class="row"  style="margin-top:25px; margin-left:5%; margin-right:5%;">
  <!-- Selectエリア -->
  <div class="input-field col s10 m4 l4">
    <!-- onchangeイベントで、指定されたURLへジャンプ -->
    <select onchange="location.href = this[this.selectedIndex].value;">
      <option value="" disabled selected>アニマルを選択</option>
      {% for dict_animal in dict_animals %}
        <option value="photo_library/{{dict_animal['animal_no']}}">No.{{dict_animal['animal_no']}} {{dict_animal['animal_name']}}</option>
      {% endfor %}
    </select>
    <label>アニマルを見る</label>
  </div>
</div>

{% endblock %}
