/* HTML要素 -------------------------------------------------------------------------------- */
/* 全体のフォントサイズをレスポンシブ対応 */
html {
  font-size: calc(50% + 0.5vw);
}

/* ナビゲーションバーのリンク */
nav ul a {
  font-size: 1.2rem;
}
/* ナビゲーションバーのアイコン */
nav ul i {
  font-size: 1.2rem;
}

/* mediaがscreenの場合：brand-logoが左寄せで表示されるので左にマージンを設定 */
/* 上記以外の場合　　　：brand-logoが左右中央に表示されるのでマージンなしとする */
@media only screen and (min-width: 992px) {
  nav .brand-logo {
    margin-left: 5%;
  }
}


/* id -------------------------------------------------------------------------------- */
/* GETボタン押下から、classify_img画面への遷移前までの間のプリローダー（ローディング中のアイコン） */
/* …画像のアップロード + Azure Custom Vision API から戻り値を受け取る、までで長時間かかるのでここだけ特別に表示する。*/
#get_preloader {
  /* 親要素の中央　かつ　最前面に表示 */
  /* 親要素は、position:static(初期値)以外のposition:relative;、potision:absolute;やposition:fixed;を指定してください。 */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}



/* class -------------------------------------------------------------------------------- */
/* 補足・注意事項のテキスト */
.supplement_text {
  font-size: 80%;
  color: silver;
}

/* アイコンと文字の間のマージン */
.icon_margin {
  margin-right: 0.5rem !important;
}
/* アイコンと文字の間のマージン 左 */
.icon_margin_left {
  margin-left: 0.5rem !important;
}

/* Aboutページの説明文章用 */
.about_text_color{
  color: #444444;
}
.about h5{
  border-bottom: 0.5px solid #00b8d4;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}
.about h6{
  font-weight: bold;
  font-size: 1.5rem;
}
.about a{
  text-decoration: underline;
}
.about p{
  font-size: 1.4rem;
  margin-block-start: 0.3em;
  margin-block-end: 0.3em;
}

/* my_animal_index メダル、トロフィーの色 */
.medal_bronze{
  color: #e79974;
}
.medal_silver{
  color: #d4d9dc;
}
.medal_gold{
  color: #F4EE5B;
}
.trophy_color{
  color: #f2e941;
}

/* cardレイアウト用 START ------------------------------------------------------------------- */
.card p{
  font-size: 1.3rem;
}
.card a{
  text-decoration: underline;
}
.card .card-image{
  text-align: center; /*左右中央*/
  vertical-align: middle; /*上下中央*/
}

.card-content-left{
  text-align: left;  /* 文章を左寄せする ※デフォルトだがあえて明記 */
  float: left;     /* 左端に寄せて、後続を右側へ回り込ませる */
}
.card-content-right{
  text-align: right;  /* 文章を右寄せする */
}
/* cardレイアウト用 END ------------------------------------------------------------------- */


/* modal表示用 START ------------------------------------------------------------------- */
.modal .modal-content {
    padding: 0px;
    text-align: center; /*左右中央*/
    vertical-align: middle; /*上下中央*/
}

.modal {
  max-height: 72vh;
  width: auto;
  max-width: 80%;
  background-color: rgba(0,0,0,0.2);
  border-radius: 2px;
}
.modal img{
  width: auto;
  height: auto;
  max-width: 78vw;
  max-height: 70vh;
  object-fit: contain;
  border-radius: 2px;
}
@media only screen and (max-width: 992px) {
  .modal {
    max-width: 98%;
  }
  .modal img{
    max-width: 95vw;
  }
}

/* modal表示用 END ------------------------------------------------------------------- */


/* アコーディオン用 START -------------------------------------------------------------------------------- */
/*ボックス全体*/
/* .accbox {
    margin: 2em 0;
    padding: 0;
} */

/*ラベル*/
.accbox label {
    display: block;
    padding : 13px 12px;
    color: rgba(0,0,0,0.7);
    font-size: 1.64rem;
    font-weight: bold;
    border-bottom: solid 1px #dddddd;
    cursor :pointer;
    transition: all 0.5s;
}

/*アイコンを表示*/
.accbox label:before {
    content: '\f105';
    font-family: 'Font Awesome 5 Free';
    padding-right: 8px;
}

/*ラベルホバー or タッチ時 START--------*/
/* .mouseと.touch（マウスデバイスかタッチデバイスか）の判定は
userAgentChecker.jsが行って、htmlタグのclassへ追加してくれる */
/*ラベルホバー時(マウスデバイスオンリー、PC用)*/
.mouse .accbox label:hover {
    background: #4dd0e1; /*= cyan lighten-2*/
}

/*ラベルタッチ時(タッチデバイスオンリー、スマホorタブレット用)*/
.touch .accbox label:active {
    background: #4dd0e1; /*= cyan lighten-2*/
}
/*ラベルホバー or タッチ時 END----------*/

/*チェックは隠す*/
.accbox input {
    display: none;
}

/*中身を非表示にしておく*/
.accbox .accshow {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
    margin-top: 0px;
    margin-bottom: 0px;
}

/*クリックで中身表示*/
.cssacc:checked + label + .accshow {
    height: auto;
    border-bottom: solid 1px #dddddd;
    opacity: 1;
    padding-bottom: 1rem;
}

.accbox .accshow p {
    margin: 15px 10px
}

/*開いているアコーディオンのアイコンを入れ替える*/
.cssacc:checked + label:before {
    content: '\f107';
}

/*開いているアコーディオンのラベル cyan lighten-3*/
/* .cssacc:checked + label {
    background: #80deea;
} */
/* アコーディオン用 END -------------------------------------------------------------------------------- */

/* ドロップダウン/ドロップダウン用label START -------------------------------------------------------------------------------- */
.div_label_on_select{
    margin-bottom: 0%;
    margin-left: 3px;
}

.div_select_under_label{
    margin-top: 0%;
}

/* ドロップダウンリスト_デフォルトの矢印の代わりにシンプルな矢印 */
.div_select_under_label::after {
    content: '';
    width: 6px;
    height: 6px;
    border: 0px;
    border-bottom: solid 2px #b4b3b3;
    border-right: solid 2px #b4b3b3;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
    right: 1rem;
    margin-top: -4px;
  }

.select_under_label{
    /* ドロップダウンリスト_デフォルトの矢印を無効化 start */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* ドロップダウンリスト_デフォルトの矢印を無効化 end */
    font-size: 16px;
    padding:0%;
    cursor: pointer;
    background-color: transparent;
    border:none;
    border-bottom: 1px solid #00b8d4;
}

/* ドロップダウン/ドロップダウン用label END -------------------------------------------------------------------------------- */